.DS_Store
*.apk
*.png
node_modules/
output.txt
buildInfo.txt
Gemfile.lock
*.log
.env
*.html
*.txt
__handlers__/
xml_reports/
*.retry
bin/**
docs/*
allure-report/
archive/
__apps/
.idea/
package-lock.json
package.json